# === Build directories ===
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Ignore nested build/ or bin/ folders in source directories
!**/src/main/**/build/
!**/src/test/**/build/
!**/src/main/**/bin/
!**/src/test/**/bin/
!**/src/main/**/out/
!**/src/test/**/out/

# === IDEs ===

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Eclipse / Spring Tool Suite (STS)
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# === Docker ===
.dockerignore
*.tar

# === Local Config Files ===
src/main/resources/application-dev.properties
.env

# === Logs, reports ===
*.log
test-output/
coverage/
*.exec

# === OS generated ===
.DS_Store
Thumbs.db